<form novalidate name="voteInput" class="col-xs-10 col-sm-4 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 text-center form-group">
    <button id="post-topic-btn" class="btn btn-primary" type="button" ng-click="posting = !posting">Post A Topic</button>
    <div ng-show="posting">
        <input class="form-control" placeholder="Title of political issue." name="title" ng-model="issue.title">
        <input class="form-control" placeholder="Description of the political issue." name="description" ng-model="issue.description">
        <input class="form-control" placeholder="imageUrl of the issue" name="description" ng-model="issue.image">
        <button id="post-issue-btn" class="btn btn-success" type="button" ng-click="postIssue(issue); posting = !posting">Post</button>
    </div>
</form>

<h3 ng-repeat="issue in issues">{{issue.vote}}</h3>

<div class="clear"></div>




<div id="panels" class="container">

    <section ng-init="tab = 1" class="tab">

        <ul class="nav nav-tabs">
            <li ng-class="{active:tab === 1}">
                <a ng-click="tab = 1" href>Issues</a>
            </li>
            <li ng-class="{active:tab === 2}">
                <a href ng-click="tab = 2">Comments</a>
            </li>

        </ul>

        <div ng-repeat="issue in allIssues track by $index">
            <div ng-show="tab === 1">
                <div>
                    <div class="col-sm-1 col-md-1">
                        {{$index + 1}}
                    </div>
                    <div class="col-sm-1 col-md-1">
                        <img ng-src="{{issue.image}}" height="30px">
                    </div>
                    <div class="col-sm-5 col-md-5 title">
                        <span class="text">click to comment</span>
                        <p class="title-description-p"><a href data-toggle="modal" data-target="#myModal"><span class="issue-title">/{{issue.title}}/</span></a> {{issue.description}}</p>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <p>{{issue.numberOfComments}} <i class="fa fa-comments comment" aria-hidden="true"></i></p>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <div class="row">
                            <div class="col-sm-6">
                                <i ng-click="upVote(issue)" class="fa fa-thumbs-up vote-icon" aria-hidden="true"></i>
                                <p>{{issue.likes}}</p>
                            </div>

                            <div class="col-sm-6">
                                <i ng-click="downVote(issue)" class="fa fa-thumbs-down vote-icon" aria-hidden="true"></i>
                                <p>{{issue.dislikes}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1">
                        <button ng-click="deleteIssue($index, issue._id)" class="btn btn-danger btn-sm trash-btn"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </div>
            </div>

<div class="clear"></div>
           
            <div ng-show="tab === 2">
                <div class="tab-pane" id="2">
                    <div class="modal-body">
                            <p ng-repeat="comment in issue.comments track by $index">{{$index + 1}}. {{comment}}</p>
                            
                        </div>

                </div>
            </div>



            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{issue.title}}</h4>
                        </div>
                        <!--        body-->
                        <div class="modal-body">
                            <p ng-repeat="comment in issue.comments track by $index">{{$index + 1}}. {{comment}}</p>
                            <div class="textbox">
                                <textarea placeholder="Drop you comment here" id="text" ng-model="newComment"></textarea>
                            </div>
                            <button class="btn btn-success" type="button" ng-click="addComment(newComment, issue, issue._id, $index)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>

                        <!--        footer-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
