* {
    padding: 0;
    margin: 0;
}

.clear {
    clear: both;
}


#displayed-issue {
    background: rgba(255, 255, 0, 0.5);
    
}

.comment-icon {
    font-size: 60px;
}

/*issues styling*/
#post-topic-btn {
    margin-top: -15px;
}

#title-n-description {
    color: blue;
}







/*profile styling*/
#profile-password-btn {
    margin-top: 20px;
}